@media (max-width: 1620px) {
  .circle-line:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 1341px) {
  .background-image-scout {
    display: none;
  }
}

@media (max-width: 1301px) {
  .background-image-knife {
    display: none;
  }
}

@media (max-width: 1140px) {
  .instruction-title {
    margin-bottom: 50px;
  }
  .steps {
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1000px;
  }
  .step {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .step:after {
    width: 0px;
    height: 80px;
  }
  /* step-1 */
  .step:nth-child(1) .step-image {
    margin-left: 21px;
  }
  .step:nth-child(1) .step-description {
    margin: 0 auto;
    margin-top: 20px;
  }
  /* step-2 */
  .step:nth-child(2) .step-description {
    margin: 0 auto;
    margin-top: 20px;
  }
  /* step-3 */
  .step:nth-child(3) .step-description {
    width: 201px;
    margin-top: 20px;
  }
  /* step-4 */
  .step:nth-child(4) {
    margin-top: 80px;
  }
  .step:nth-child(4) .step-description {
    margin-top: 0px;
  }
  .step:nth-child(1):after,
  .step:nth-child(2):after,
  .step:nth-child(3):after {
    top: 250px;
    left: 123px;
  }
  /* chat */
  .chat {
    margin-bottom: 150px;
  }
  /* Videos */
  .videos {
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .video {
    margin-bottom: 80px;
  }
}

@media (max-width: 1010px) {
  .circle-line,
  .background-blur {
    display: none;
  }
}

@media (max-width: 851px) {
  .container {
    margin: 0 auto;
    max-width: 851px;
  }
  .get-bonus {
    display: none;
  }
  .header {
    margin: 20px 0px;
    justify-content: center;
  }
  .logos {
    margin-left: 10px;
    width: 95vw;
    justify-content: center;
  }
  .csmoney-logo,
  .partner-logo {
    height: 70px;
  }
  .partner-logo {
    align-items: center;
    font-size: 34px;
  }
  .circle {
    width: 95vw;
    height: 95vw;
  }
  .image img {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 95vw;
  }
  .background-image-usp {
    display: none;
  }
  .get-bonus-container {
    margin: 0 auto;
    margin-top: 50px;
  }
  .get-bonus-title {
    font-size: 42px;
    line-height: 50px;
  }
  .get-bonus-description {
    font-size: 16px;
    line-height: 22px;
  }
  .get-bonus-button {
    margin-bottom: 50px;
  }
  .instruction-title {
    font-size: 24px;
    line-height: 34px;
  }
  .gaules-about-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }

  .chat {
    margin: 0 15px;
    margin-bottom: 120px;
  }
  .from-user {
    flex-direction: column;
  }
  .user-avatar,
  .our-avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .user-avatar img,
  .our-avatar img {
    transform: translate(-50%, -50%);
    width: 21.46px;
    height: 14.63px;
  }
  .user-comment {
    max-width: 320px;
  }
  .comment-text {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }
  .from-csmoney {
    flex-direction: column-reverse;
    margin-right: -13px;
  }
  .our-avatar {
    align-self: flex-end;
  }
  .our-comment {
    margin-right: 20px;
  }
  .check-review-wrapper {
    width: 300px;
    left: 33px;
    top: 479px;
  }
  .call-to-action {
    margin-top: 0;
  }
  .footer {
    margin-top: 90px;
  }
  .footer-wrapper {
    flex-direction: column-reverse;
  }
  .social-media {
    width: 349px;
    display: flex;
    justify-content: space-between;
    margin-right: -8px;
    margin-bottom: 20px;
  }
}

@media (max-width: 471px) {
  .call-to-action-title:after {
    left: 39%;
  }
}

@media (max-width: 435px) {
  .csmoney-logo,
  .partner-logo {
    height: 40px;
  }
  .cross {
    padding-top: 7px;
    padding-left: 5px;
    height: 16px;
  }
  .partner-logo img {
    height: 18px;
  }
  .partner-name {
    font-size: 21px;
  }
  .circle-line {
    display: block;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
  }
  .background-image-m4 {
    width: 244px;
    top: -13px;
    left: -49px;
    filter: blur(2px);
  }
  .background-image-gloves {
    width: 104px;
    top: 205px;
    left: -4px;
  }
  .background-image-usp {
    display: block;
    width: 149px;
    top: 52px;
    left: 189px;
  }
  .background-image-knife {
    display: block;
    width: 77px;
    top: 200px;
    left: 312px;
  }
  .get-bonus-container {
    margin-top: 30px;
  }
  .get-bonus-button {
    margin-top: 40px;
  }
  .get-bonus-description {
    margin-top: 14px;
  }
  .instruction-title {
    margin-bottom: 0;
  }
  .step-image img {
    width: 240px;
  }
  .check-review-wrapper {
    width: 300px;
    left: 34px;
    top: 490px;
  }
  .activation-promo {
    max-width: 340px;
    justify-content: space-between;
    margin-right: 17px;
  }
  .promocode {
    width: 130px;
  }
  .activate-button {
    width: 180px;
  }
  .activation-tip {
    width: 340px;
  }
  .background-image-scout {
    display: block;
    width: 249px;
    left: 178px;
    top: -81px;
    filter: blur(5px);
  }
  .background-image-butterfly {
    filter: blur(5px);
    transform: rotate(-162.08deg);
    width: 122px;
    left: -39px;
    bottom: -25px;
  }
  .background-blur {
    display: block;
    width: 1092.56px;
    height: 493.94px;
    left: -500px;
    top: -176px;

    background: radial-gradient(
      36.18% 43.79% at 50% 50%,
      #b0a2fc 0%,
      rgba(33, 33, 38, 0) 100%
    );
    mix-blend-mode: lighten;
    opacity: 0.35;
    filter: blur(50px);
    transform: rotate(-15.47deg);
  }
  .steps {
    display: flex;
  }
  .step {
    width: 300px;
  }
  .step:nth-child(1),
  .step:nth-child(2),
  .step:nth-child(3),
  .step:nth-child(4) {
    align-items: center;
  }
  .step:nth-child(1):after,
  .step:nth-child(2):after,
  .step:nth-child(3):after {
    left: 147px;
    top: 258px;
  }
  .step:nth-child(2):after {
    left: 149px;
  }

  .user-comment {
    margin-left: 20px;
  }
  .video-title {
    font-size: 21px;
  }
  .call-to-action-title {
    font-size: 28px;
    line-height: 42px;
    width: 320px;
    margin: 18px auto;
  }
}
